<div>
  <app-nav></app-nav>
</div>
  <div class="container">
    <div class="content">
      <div class="info">
        <div class="texts">
          <h1 class="title">¡Bienvenido a Estremor nuestra plataforma para encontrar hospedaje en la ciudad!</h1>
          <p class="texto">Encuentra el alojamiento perfecto para tu próxima aventura en la ciudad. Explora opciones únicas y acogedoras que se ajusten a tu estilo y presupuesto. ¡Haz de Estremor tu hogar lejos del hogar!</p>
        </div>
        <div class="container-form">
          <form action="">
            <div class="btn">
              <input class="email" type="email" placeholder="Correo electrónico" name="email" id="">
            </div>
            <div class="btn">
              <button class="btn-register" type="submit">¡Registrate!</button>
            </div>
          </form>
        </div>
        <!-- <span>
          <div>
            <a href="">
              <span>Ver video</span>
              <fa-icon class="icono" [icon]="faAngleUp"></fa-icon>
            </a>
          </div>
        </span> -->
      </div>
    </div>
  </div>
<!-- <div class="other">
  <h1>otro contenidos interesantes</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, excepturi laudantium vero error quia dignissimos? At amet, iure voluptatem laudantium ea fugit quidem. Dolorem cupiditate quis suscipit assumenda non esse.</p>
</div> -->



