<div>
  <app-nav></app-nav>
</div>
  <div class="container">
    <div class="content">
      <div class="info">
        <div class="texts">
          <h1 class="title">¡Bienvenido a Estremor nuestra plataforma para encontrar hospedaje en la ciudad!</h1>
          <p class="texto">Encuentra el alojamiento perfecto para tu próxima aventura en la ciudad. Explora opciones únicas y acogedoras que se ajusten a tu estilo y presupuesto. ¡Haz de Estremor tu hogar lejos del hogar!</p>
        </div>
        <div class="container-form">
          <form [formGroup]="form">
            <div class="btn">
              <input class="email" type="email" placeholder="Correo electrónico" formControlName="email" name="email">
            </div>
            <div class="btn">
              <app-button (click)="redirectToRegistro()" label="¡Registrate!" color="purble"></app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




