@import '../../../../../styles.scss';


.footer {
  background: $backgroud-degradado-left;
  text-align: center;
  box-shadow: $box-shadow-sombreado;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-text {
  color: $text-input-field;
  font-weight: bold;
  font-size: $sm;
  margin: 10px;
}