
<form class="row g-3 needs-validation" novalidate>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">***</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Password" aria-describedby="basic-addon1">
      </div>
    <div class="col-12">
     <app-button variant="outline-" size="lg">Login</app-button>
    </div>
  </form>