<body>
  <nav class="menu-desktop">
    <div class="container-menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <fa-icon class="menu" [icon]="faBars"></fa-icon>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
         <app-menu-mobile></app-menu-mobile>
      </div>
    </div>

    <div class="navbar-left">
      <img class="logo" src="../../../../assets/images/logos/logo1.png" alt="logo">
      <ul>
        <li>
          <a routerLink="/home">Inicio</a>
        </li>
        <li>
          <a routerLink="/cms">Administración</a>
        </li>
        <li>
          <a routerLink="/contactenos">Cantactenos</a>
        </li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul (click)="openSesion  = !openSesion" cdkOverlayOrigin #menuSesion="cdkOverlayOrigin">
        <li class="navbar-email">
          {{user?.email}}
          <fa-icon class="icono" [icon]="openSesion ? faAngleUp : faAngleDown"></fa-icon>
        </li>
        <li class="navbar-image-user">
          <img *ngIf="user" src="{{azureStorageBaseUrl}}/estremoruserscontainer/{{user.image}}" alt="imagen usuario">
        </li>
      </ul>
    </div>
  </nav>
  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="menuSesion" [cdkConnectedOverlayOpen]="openSesion">
    <app-menu-desktop></app-menu-desktop>
  </ng-template>
</body>