@import '../../../../styles.scss';

body{
  font-family: 'Quicksand', sans-serif;
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  background: $backgroud-degradado-right;
  box-shadow: $box-shadow-sombreado;
  position: fixed;
  z-index: 999;
  top: 0;
  height: 100px;
}

.menu{
  display: none;
}
.logo{
  width: 100px;
}
.navbar-left{
  display: flex;
  margin-left: 12px;
  align-items: center;
}
.navbar-left ul{
  display: flex;
  margin-left: 20px;
}
.navbar-right{
  display: flex;
  margin-right: 20px;
}
.navbar-left ul li a,
.navbar-right ul li a{
  text-decoration: none;
  color: $purpu;
  font-size: 14px;
  border: 1px solid $backgroud-degradado-right;
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a{
  margin: 0 4px 0 4px;
  font-weight: 600;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
  text-decoration: none;
  color: $text-input-field;
  border: 1px solid $text-input-field;
}
.navbar-left ul,
.navbar-right ul{
  list-style: none;
  padding: 0;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.navbar-email:hover{
  color: $Very-light-pink;
  font-size: $sm;
  margin-right: 12px;
  cursor: pointer;
}
.navbar-email{
  color: $purpu;
  font-size: $sm;
  margin-right: 12px;
  cursor: pointer;
}
.icono{
  margin-left: 5px;
  font-weight: bold;
  color: links;
}
.navbar-image-user img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px red;
  object-fit: cover;
}
.navbar-image-user div{
  width: 8px;
  height: 8px;
  background-color: $holpital-green;
  border-radius: 50%;
  font-size: $sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  justify-content: center;
  align-items: center;
}

.navbar-email img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.container-menu-mobile{
 display: inline-block;
 height: auto;
 padding: 10px;
 width: auto;
 position: absolute;
 top: 101px;
 left: 1;
 border: 1px solid red;
 border-radius: 10px;
}

.menu-mobile {
  padding: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $maron-claro;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  transform: translateX(-100);
  transition: all ease-out .5s;
}
.menu-mobile.active{
  display: none;
  transform: translateX(0);
}

.icon-menu-modile fa-icon{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.image-user{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.name-user{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
}
.name-user:hover{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  color: $holpital-green;
  cursor: pointer;
}
.rol-user{
 font-size: 12px;
 color: $Very-light-pink;
 text-align: center;
}
.info-user{
 padding: 24px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 12px;
 width: 100%;
}


.menu-mobile a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 24px;
}
.icon-menu-modile{
  margin: 30px;
}

.menu-mobile a:hover {
  text-decoration: none;
  color: $holpital-green;
  border-radius: 1px solid $holpital-green;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 24px;
}

.menu-mobile ul {
  padding: 0;
  list-style: none;
  margin-top: 24px 0 0;
}

.menu-mobile ul li{
  margin-bottom: 24px;
}
.email{
  font-size: $sm;
  font-weight: 300 !important;
  color: $Very-light-pink;
}

.menu-mobile ul:nth-child(2){
  border-bottom: 1px solid $Very-light-pink;
}
.menu-mobile ul:nth-child(3){
  border-bottom: 1px solid $Very-light-pink;
}
.menu-mobile ul:nth-child(1){
  border-bottom: 1px solid $Very-light-pink;
}
.sing-out{
  font-size: $sm;
  color: $holpital-green !important;
}
.sing-out-icon{
  color: $black;
  margin-right: 10px;
}
.sing-out:hover{
  font-size: $sm;
  color: $Very-light-pink !important;
}
.sing-out-icon:hover{
  color: $Very-light-pink;
  margin-right: 10px;
}
.container-menu{
  display: none;
}

@media (max-width: 660px){
  .menu{
    display: block;
  }
  .container-menu{
    display: block;
  }
  .navbar-left ul{
    display: none;
  }
  .navbar-email{
    display: none;
  }
}