<div class="container-form">
  <div class="registration-header">
    <h1 class="animated-heading">Registro</h1>
  </div>
  <form [formGroup]="form">
    <div class="container">
      <div class="colunm">
        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-user"></i>
            <label for="name">Nombre</label>
          </div>
          <input  type="text" id="name" formControlName="Name"  name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-calendar-days"></i>
            <label for="name">Fecha de nacimiento</label>
          </div>
          <input  type="text" id="name" formControlName="DateOfBirth" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-envelope"></i>
            <label for="name">Correo</label>
          </div>
          <input  type="text" id="name" formControlName="Email" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-location-dot"></i>
            <label for="name">Dirección</label>
          </div>
          <input  type="text" id="name" formControlName="Address" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-image"></i>
            <label for="name">Imagen</label>
          </div>
          <div class="butons-image">
            <input type="file" formControlName="FileImage"  accept="image/*" (change)="onImageSelected($event)">
            <div class="buttons">
              <app-button *ngIf="imageUrl" class="btn-delete" (click)="deleteImage()" tooltip="Eliminar Imagen" color="purple" iconClass="fa-solid fa-trash"></app-button>
            </div>
          </div>
        </div>

        <div class="campo">
          <div class="container-image">
            <img  [src]="imageUrl" *ngIf="imageUrl" alt="Imagen-User">
          </div>
        </div>
      </div>

      <div class="colunm">
       <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-user"></i>
            <label for="name">Primer Apellido</label>
          </div>
          <input  type="text" id="name" formControlName="LastName" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

      <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-id-card"></i>
            <label for="name">Tipo de documento</label>
          </div>
          <select formControlName="DocumentTypeId" class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let documentType of documentsTypes" [value]="documentType.documentTypeId">{{ documentType.name }}</option>
          </select>
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

       <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-lock"></i>
            <label for="name">Contraseña</label>
          </div>
          <input  type="password" formControlName="Password" id="name" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-user-secret"></i>
            <label for="name">Rol</label>
          </div>
          <select formControlName="RolId" class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let rol of rols" [value]="rol.rolId">{{ rol.nombre }}</option>
          </select>
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

      </div>
      <div class="colunm">
        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-user"></i>
            <label for="name">Segundo Apellido</label>
          </div>
          <input  type="text" formControlName="SecondLastName" id="name" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>

        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-id-card"></i>
            <label for="name">Numero de documento</label>
          </div>
          <input  type="text" formControlName="Document" id="name" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>
        <div class="campo">
          <div class="incon-label">
            <i class="fa-solid fa-phone"></i>
            <label for="name">Numero de telefono</label>
          </div>
          <input  type="text"formControlName="numberPhone" id="name" name="name" class="form-control">
          <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
        </div>
      </div>
    </div>
    <div class="container-buttom">
      <app-button (click)="registerUser()" disabled="form.invalid" class="buttom-register"  label="Aceptar" color="purple"></app-button>
    </div>
  </form>
</div>
