<div class="container">
<div class="header">
  <div>
    <img src="../../../../../assets/images/logos/logo1.png" alt="Logo">
  </div>
  <div class="container-title">
    <h5 class="title">¿Se te olvido tu contraseña?</h5>
  </div>
</div>
<form action="">
  <div class="container-input-label">
    <div class="input-label">
      <label for="emial">Enviaremos un correo con la nueva contraseña a</label>
      <div class="input-container">
        <input placeholder="Correo electrónico" name="email" type="email">
      </div>
    </div>
  </div>
  <button id="reset-password-email-submit" aria-busy="false" class="btn" type="submit" tabindex="0"><span class="css-178ag6o">Enviar contraseña de recuperación</span></button>
</form>
<div class="link"><ul><li><a id="reset-password-email-cancel" href="/login?application=trello"><span>Volver a Inicio de sesión</span></a></li></ul></div>
</div>

