@import '@angular/cdk/overlay-prebuilt.css';
$links: #ab18dc;
$white: #FFFFFF;
$black: #000000;
$Very-light-pink: #C7C7C7;
$text-input-field: rgb(172, 66, 66);
$holpital-green: #9ae07d;
$maron-claro: #ffcbb8;
$backgroud: #f9f6ec;
$morado: #e9d6ea;
$purpu: #002074;
$sm: 14px;
$md:16px;
$lg:18px;
$backgroud-degradado-right: #f4f5de;
$backgroud-degradado-left: #f4f5de;
$backgroud-degradado-center: linear-gradient(to right, $backgroud 0%, $morado 50%, transparent 50%), linear-gradient(to left, $backgroud , $morado 50%);
// $backgroud-degradado-botton: linear-gradient(to bottom, $morado, $backgroud);
$backgroud-degradado-botton: #f4f5de;
$text: #becec4;
$repurpu: rebeccapurple;
$box-shadow-sombreado:  0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}


