<!-- Filtros -->
<div>
  <label>Nombre:</label>
  <input type="text" formControlName="searchName" (ngModelChange)="applyFiltersAndPagination()">
  <label>Correo:</label>
  <input type="text" formControlName="searchEmail" (ngModelChange)="applyFiltersAndPagination()">
</div>

<!-- Tabla de usuarios -->
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th class="col">N°</th>
      <th class="col">Nombre</th>
      <th class="col">Correo</th>
      <th class="col">Imagen</th>
      <th class="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userId }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><img src="{{user.image}}" alt="Imagen de usuario" height="50"></td>
      <td>{{ user.rol?.nombre }}</td>
    </tr>
  </tbody>
</table>

<!-- Paginación -->
<div>
  <button [disabled]="pageNumber === 1" (click)="pageNumber = 1; applyFiltersAndPagination()">Primera</button>
  <button [disabled]="pageNumber === 1" (click)="pageNumber = pageNumber - 1; applyFiltersAndPagination()">Anterior</button>
  <button [disabled]="pageNumber * pageSize >= totalUsers" (click)="pageNumber = pageNumber + 1; applyFiltersAndPagination()">Siguiente</button>
  <button [disabled]="pageNumber * pageSize >= totalUsers" (click)="pageNumber = (totalUsers / pageSize); applyFiltersAndPagination()">Última</button>
</div>
