/* user-table.component.css */
:host {
  display: block;
  padding: 20px;
}

input {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
