<form action="">
  <div class="container">
    <div class="colunm">

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-user"></i>
          <label for="name">Nombre</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-calendar-days"></i>
          <label for="name">Fecha de nacimiento</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-envelope"></i>
          <label for="name">Correo</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-location-dot"></i>
          <label for="name">Dirección</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="butons-image">
          <input type="file">
          <div class="buttons">
            <button type="button" class="button-upload"  data-toggle="tooltip" data-placement="top" title="Subir Imagen">
              <i style="color: #5ae45a;" class="fa-solid fa-upload"></i>
            </button>
            <button type="button" class="button-delete" data-toggle="tooltip" data-placement="top" title="Eliminar Imagen">
              <i style="color: #ff3535;" class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="campo">
        <div class="container-image">
          <img src="../../../../../assets/images/user/user-default.png" alt="Imagen-User">
        </div>
      </div>
    </div>

    <div class="colunm">
     <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-user"></i>
          <label for="name">Primer Apellido</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

    <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-id-card"></i>
          <label for="name">Tipo de documento</label>
        </div>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

     <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-lock"></i>
          <label for="name">Contraseña</label>
        </div>
        <input  type="password" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-user-secret"></i>
          <label for="name">Rol</label>
        </div>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

    </div>
    <div class="colunm">
      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-user"></i>
          <label for="name">Segundo Apellido</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-id-card"></i>
          <label for="name">Numero de documento</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>

      <div class="campo">
        <div class="incon-label">
          <i class="fa-solid fa-phone"></i>
          <label for="name">Numero de telefono</label>
        </div>
        <input  type="text" id="name" name="name" class="form-control">
        <p *ngIf="false" class="form-text text-muted">Este campo es requerido</p>
      </div>
    </div>
  </div>
</form>
